# Vim Swap files
*.sw[a-z]

# `tarantool rocks` installed packages
.rocks

# tarantool's wal and snapshot files
*.xlog
*.snap

# python virtualenv
.env-2.7

# temporary files from testing
test/var

# generated API documentation
doc/apidoc

# benchmarks results
bench.*.result.txt

# packpack build directory
/build

# temporary directory for make apidoc-lint
doc/apidoc-lint-tmp

# luacov files
luacov.stats.out
luacov.report.out
