language: c

sudo: required

services:
  - docker

cache:
    directories:
      - $HOME/.cache

git:
    depth: 100500

env:
    matrix:
      - OS=el DIST=6
      - OS=el DIST=7
      - OS=fedora DIST=26
      - OS=fedora DIST=27
      - OS=el DIST=6 EXT=1
      - OS=el DIST=7 EXT=1
      - OS=fedora DIST=26 EXT=1
      - OS=fedora DIST=27 EXT=1

script:
  - git describe --long
  - |
    if [ -n "${OS}" ]; then
        git submodule update --recursive --init
        ./3rd_party/packpack/packpack
    else
        ./tools/ubuntu.trusty.test.sh
    fi

before_deploy:
  - ls -l build/

deploy:
  # Deploy packages to PackageCloud
  - provider: packagecloud
    username: ${PACKAGECLOUD_USER}
    repository: "1_9"
    token: ${PACKAGECLOUD_TOKEN}
    dist: ${OS}/${DIST}
    package_glob: build/*.{rpm,deb}
    skip_cleanup: true
    on:
      branch: master
      condition: -n "${OS}" && x"${TRAVIS_EVENT_TYPE}" != x"cron"
  - provider: packagecloud
    username: ${PACKAGECLOUD_USER}
    repository: "1_10"
    token: ${PACKAGECLOUD_TOKEN}
    dist: ${OS}/${DIST}
    package_glob: build/*.{rpm,deb}
    skip_cleanup: true
    on:
      branch: master
      condition: -n "${OS}" && x"${TRAVIS_EVENT_TYPE}" != x"cron"
  - provider: packagecloud
    username: ${PACKAGECLOUD_USER}
    repository: "2_0"
    token: ${PACKAGECLOUD_TOKEN}
    dist: ${OS}/${DIST}
    package_glob: build/*.{rpm,deb}
    skip_cleanup: true
    on:
      branch: master
      condition: -n "${OS}" && x"${TRAVIS_EVENT_TYPE}" != x"cron"
notifications:
  email:
    recipients:
      - build@tarantool.org
    on_success: change
    on_failure: always
