language: c

sudo: required

services:
  - docker

cache:
    directories:
      - $HOME/.cache

git:
    depth: 100500

env:
    matrix:
      - OS=el DIST=6
      - OS=el DIST=7
      - OS=fedora DIST=26
      - OS=fedora DIST=27
      - SHARD_VERSION=1.2 AVRO_SCHEMA=2.3.2 VSHARD_VERSION=0.1.5
      - SHARD_VERSION=2.1 AVRO_SCHEMA=2.3.2 VSHARD_VERSION=0.1.6
      - SHARD_VERSION=1.2 AVRO_SCHEMA=3.0.0 VSHARD_VERSION=0.1.5
      - SHARD_VERSION=2.1 AVRO_SCHEMA=3.0.0 VSHARD_VERSION=0.1.6

script:
  - git describe --long
  - |
    if [ -n "${OS}" ]; then
        git submodule update --recursive --init
        ./3rd_party/packpack/packpack
    else
        ./tools/ubuntu.trusty.test.sh
    fi

before_deploy:
  - ls -l build/

deploy:
  # Deploy packages to PackageCloud
  - provider: packagecloud
    username: ${PACKAGECLOUD_USER}
    repository: "1_9"
    token: ${PACKAGECLOUD_TOKEN}
    dist: ${OS}/${DIST}
    package_glob: build/*.{rpm,deb}
    skip_cleanup: true
    on:
      branch: master
      condition: -n "${OS}" && x"${TRAVIS_EVENT_TYPE}" != x"cron"
  - provider: packagecloud
    username: ${PACKAGECLOUD_USER}
    repository: "1_10"
    token: ${PACKAGECLOUD_TOKEN}
    dist: ${OS}/${DIST}
    package_glob: build/*.{rpm,deb}
    skip_cleanup: true
    on:
      branch: master
      condition: -n "${OS}" && x"${TRAVIS_EVENT_TYPE}" != x"cron"
  - provider: packagecloud
    username: ${PACKAGECLOUD_USER}
    repository: "2_0"
    token: ${PACKAGECLOUD_TOKEN}
    dist: ${OS}/${DIST}
    package_glob: build/*.{rpm,deb}
    skip_cleanup: true
    on:
      branch: master
      condition: -n "${OS}" && x"${TRAVIS_EVENT_TYPE}" != x"cron"
notifications:
  email:
    recipients:
      - build@tarantool.org
    on_success: change
    on_failure: always
